* {
    box-sizing: border-box;
}

html {
    background-color: #2B2B2B;
}

main {
    font-family: "Work Sans", sans-serif;
}

/* Header */
.navbar {
    display: flex;
    margin: 20px 50px;
    justify-content: space-between;
    align-items: center;
}

.navbar__brand {
    display: flex;
}

.navbar--text {
    color: #fff;
}

.navbar__menu {
    display: flex;
}

.navbar--list {
    display: flex;
}