* {
    box-sizing: border-box;
}

html {
    background-color: #2B2B2B;
}

main {
    font-family: "Work Sans", sans-serif;
}

a {
    text-decoration: none;
}

/* Common */
.container {
    width: 1050px;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 60px;
    border-radius: 20px;
    background: #A259FF;
    color: #fff;
    gap: 12px;
    font-size: 16px;
    font-weight: 600;
}

/* Header */
header {
    width: 1180px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    margin: 20px 50px;
    justify-content: space-between;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}

.navbar__brand {
    display: flex;
}

.navbar--text {
    line-height: 32px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.navbar__menu {
    display: flex;
    gap: 10px;
}

.navbar--list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-item {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
    padding: 0px 20px;
}

.navbar__btn {
    width: 152px;
    height: 60px;
}

/* Hero */
.hero {
    display: flex;
    margin: 80px 0;
    justify-content: space-between;
}

.hero__content {
    width: 40%;
    gap: 30px;
}

.hero__media {
    width: 40%;
    height: 510px;
    background: #3B3B3B;
    border-radius: 20px;
}

.hero__content--title {
    font-size: 67px;
    font-weight: 600;
    line-height: 74px;
    color: #fff;
}

.hero__content--desc {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    color: #fff;
}

.hero__btn {
    margin-top: 30px;
}

.hero__number {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.hero__number--top {
    font-size: 28px;
    font-weight: 700;
    font-family: "Space Mono", sans-serif;
    color: #fff;
}

.hero__number--bottom {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

.hero__media--img {
    width: 100%;
    height: 401px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.hero__media--title {
    margin: 20px 0 0 20px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.hero__avatar {
    padding: 20px;
    display: flex;
    align-items: center;
}

.hero__avatar--icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
}

.hero__avatar--name {
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
}

/* Trending */
.trending {
    padding: 80px 0;
}

.trending__title {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
}

.trending__desc {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}

.trending__media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.trending__media {
    margin-top: 60px;
}

.trending__img--item {
    width: 330px;
    height: 525px;
}

.trending__img-main {
    width: 330px;
    height: 330px;
    border-radius: 20px;
    object-fit: cover;
}

.trending__sec {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
}

.trending__sec--item {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
}

.trending__sec--number {
    width: 100px;
    height: 100px;
    background: #A259FF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    font-family: "Space Mono", sans-serif;
}

.trending__item--sub {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.trending__avatar {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.trending__avatar--icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.trending__avatar--name {
    margin-left: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}